body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-title{
font-size: 24pt;
text-align: center;
}

.grant-card, .event-card{
    width: 70vw;
    height: auto; 
    margin: 0.5rem auto;
    padding: 0.5rem 1rem;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.event-card{
    width: 60vw;
    margin: 0.5rem auto;
}

.title-container, .opendate-container, .closedate-container, .agency-container{
    display: flex;
}

.grant-ul{
    list-style-type: none;
    /* box-shadow: 1px 10px 8px #888888; */
    margin: 1rem;
    padding: 1rem;
}

li{
    list-style-type: none;
}

button{
  display: inline-flex;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 0 0.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

/* style ul search of gov grants */
.list-grants{
    display: block;
    text-align: left;
}

/* center the buttons and search section */
.search-section{
    margin: 1rem 20rem;
}

/* style search input field */
.search-input{
    width: 40vw;
    border: 1px solid #adacac;
    border-radius: 12px;
    padding: 1rem 2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* style search button */
.search-button, .search-button-events{
    position: absolute;
    top: 15vh;
    left: 52vw;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    background-color: #fff;
    border: 1px solid gray;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
    font-size: 12pt;
    /* background-color: #fff; */
    cursor: pointer;
}

.search-button-events{
position: absolute;
top: 15vh;
    left: 60vw;
}

.search-button:hover, .search-button-events:hover{
    background-color: aliceblue;
}

/* .search-button:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
} */

.list-grants{
    margin: 2rem 14rem;
}

.title{
    font-weight: bold;
}

.buttons-section{
        margin: 1rem 20rem;

}

.buttons-section button{
    background-color: #fff;

}

#select-grants, #select-events{
padding: 10px 50px;
border-radius: 5px;
margin-right: 10px;
}

.option:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.no-grant{
    font-weight: bold;
    text-align:  center;
}

@media(max-width: 480px){
    .search-section, .buttons-section{
        margin: 1rem;
    }

    .list-grants{
        margin-left: -1.8rem;
        width: 100vw;
    }

    .search-button{
        position: absolute;
        top: 5.5rem;
        left: 18rem;
    }

    .buttons-section button{
        margin-bottom: 1rem;
    }

    .search-input{
        width: 70vw;
        height: 4vh;
    }

    .no-grant{
        margin-left: 3rem;
        display: inline-flex;

    }

   .grant-card{
    width: 85vw;
   }
}